<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcourse"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_course_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.WithoutActionBar">
        <activity
            android:name="com.smartcourse.activity.MainActivity"
            android:label="@string/app_name">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.smartcourse.activity.AddCourse" />
        <activity android:name="com.smartcourse.activity.CourseDetialActivity" />

        <service android:name=".TaskService" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.smartcourse.action.ALARM_FIRST_STARTED" />
                <action android:name="com.example.smartcourse.action.ALARM_SECONED_STARTED" />
                <action android:name="com.example.smartcourse.action.ALARM_THIRD_STARTED" />
                <action android:name="com.example.smartcourse.action.ALARM_FOURTH_STARTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.smartcourse.activity.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity android:name="com.smartcourse.activity.ConfigActivity" />
        <activity android:name="com.smartcourse.activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smartcourse.activity.ConfirmActivity"></activity>
    </application>

</manifest>